@import "tailwindcss";

*{
    box-sizing: border-box;

}
body,html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background: #000;
}
.text {
  background-image: linear-gradient(to right, #ec4899, #3b82f6, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.border{
  border-width: 2px;
  border-color: rgb(236 72 153)
}


::selection{
    color:rgb(169, 33, 142);
    
}
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-float {
    animation: float 5s ease-in-out infinite;
  }


  h1, .main-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  h2, .subheading {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #e84393, #6c5ce7);
  }
  
  body, p, .content-text {
    font-family: 'Inter', sans-serif;
    color: white;
  }
  
  button, .btn, .cta-button {
    font-family: 'DM Sans', sans-serif;
    color: white;
    background: linear-gradient(90deg, #8e44ad, #2980b9);
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  button:hover, .btn:hover {
    background: linear-gradient(90deg, #732d91, #1f6699);
    transition : 0.2s;
    
  }