@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: 'Big Shoulders Stencil';
}


body,html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


::selection{
    color: #c9730b;
    
}
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-float {
    animation: float 5s ease-in-out infinite;
  }
